<header class="page-header">
  <h1>Admin dashboard</h1>
</header>

<div class="alert alert-success">
  <p>Product Count: <%= @products_count %></p>
</div>

<div class="alert alert-success">
  <p>Category Count: <%= @categories_count %></p>
</div>